/*
    Estilo del content color verde donde dentro va el form
*/
.style1{
    margin-top: 2%;
    background-color: #c5dfbe;
    min-height: 86.5% !important;
    scrollbar-width: none !important;
    margin-left: 2%;
    margin-right: 2%;
}
body{
    background-color: #c5dfbe;
    height: 100vh !important;
}
.letterTittleMounth{
    color:#78788c;
}

.footer{
    height: 14vh !important;
    background-color: rgba(9, 8, 8, 0.2);
    background: rgb(1, 167, 152);
    background: linear-gradient(90deg, rgba(1, 167, 152, 1) 0%, rgba(136, 198, 63, 1) 71%);
}
.footer2{
   
    height: 18vh !important;
    background-color: rgba(9, 8, 8, 0.2);
    background: rgb(1, 167, 152);
    background: linear-gradient(90deg, rgba(1, 167, 152, 1) 0%, rgba(136, 198, 63, 1) 71%);
}


/*MEDIA 1*/
@media screen and (max-width: 540px) {

}
/*MEDIA 2*/
@media screen and (min-width: 540px) and (max-width: 780px) {
 
}
/*MEDIA 3*/
@media screen and (min-width: 780px) and (max-width:  840px) {

}
/*MEDIA 4*/
@media screen and (min-width: 840px) and (max-width:  1080px) {
    .footerMedia4{
        margin-top: 1%;
        height: 2%;
    }
    .bodyMedia4{
        
            height: 80%;
    }
}