body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

a {
    color: #00B7FF;
}


.imgHome{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 5%;
}
.imgNav{
    width: 8%;
    height: 13%; 
    margin-right: 1%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h2 {
    font-size: 16px;
    color: #111111;
    
}
.imgadd{
    width: 30%;
    height: 30%; 
}

.navbar-option:hover{
    color: white;
}

a{
    text-decoration: none;
    color: #fff;
}

.text-white{
    background-color: rgba(26,145,125,255);
}

a:hover{
    color: rgba(229, 241, 251);
}

.text-white:hover{
    box-shadow: 0 4px 16px rgba(3, 168, 151);
    transition: all 0.2s ease;
}

.tr:hover{
    background-color: rgba(255, 245, 240, 1);
}

.button:hover{
    box-shadow: 0 1px 8px rgba(113, 74, 38);
    transition: all 0.2s ease;
}
.color{
    color: rgba(229, 241, 251);
}

.cards-container{
    display: flex;
    width: 100% !important;
    height: 100%;
    float: right;
}

.card-container{
    margin-right: 3%;
}

.botons-container{
    display: flex;
}

.mb-2{
    height: auto !important;
}