html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
}

a {
    color: #00B7FF;
}


.imgHome{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 5%;
}
.imgNav{
    width: 8%;
    height: 13%; 
    margin-right: 1%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h2 {
    font-size: 16px;
    color: #111111;
    
}
.imgadd{
    width: 30%;
    height: 30%; 
}


.button-navbar{
    display: inline-block;
}

.navbar-option{
    margin-left: 10px;
    margin-right: 10px;
}

.option-transition {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    position: relative;
  }

  .option-transition:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    border: 2px rgba(255, 255, 255, 0.1) solid;
    background: rgba(134, 16, 75, 0.1);
    transition: all .8s ease;
  }
  .option-transition:hover:before {
    width: 100%;
  }
  

a{
    text-decoration: none;
    color: #fff;
}

.text-whitex{
    background-color: rgb(26,145,125,255);
    color: #fff;
}

.card-header{
    background-color: rgba(26,145,125,255);
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

a:hover{
    color: rgba(229, 241, 251);
}

.text-white:hover{
    box-shadow: 0 4px 16px rgba(3, 168, 151);
    transition: all 0.2s ease;
}

.tr:hover{
    background-color: rgb(211, 211, 211);
}

.button{
    -webkit-transition: .3s linear;
    transition: 0.5s linear;
}

.button:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}
.color{
    color: rgba(229, 241, 251);
}

.cards-container{
    display: flex;
    width: 100% !important;
    height: 90%;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-color{
    background-color: rgba(167, 167, 167, 0.3);
}

.menu-container{
    display: flex;
    float:right;
    width: 15%;
    justify-content: end;
    padding-right: 10px;
}

.menu:hover + .flex-menu{
    display: block;
}

.flex-menu:hover{
    display: block;
}

.flex-menu{
    margin-top: 30px;
    position: absolute;
    display: none;
    float:right;
    z-index: 3;
    justify-self: end;
    background-color: #F4FFEC;
}


.card-container{
    margin-right: 3.5%;
    margin-bottom: 7%;
    width:300px;
    height: auto !important;
    background-color: #F4FFEC;
    border-radius: 15px;
}

.card-textx{
    height: 50px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow-y: scroll;
}

.card-textx::-webkit-scrollbar {
    display: none;
}

#expand{
    display: flex;
    justify-self: center;
}

#botons-container{
    display: flex;
    justify-content: center;
    display: none;
}

.card-menu{
    height: 95px;
}

#options{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

#options:hover{
	opacity: .8;
}

#botons-container:hover{
    display: flex;
}

#options:hover + #botons-container{
	display: flex;
}

.col-x{
    width: auto;
    height: 100% !important;
}

.mb-2x{
    height: 80% !important;
    overflow-y: scroll;
    min-height:655px !important;
    
}


.mb-2x::-webkit-scrollbar {
    display: none;
}

.btn-company{
    height: 100%;
    margin-right: 5%;
    -webkit-transition: .3s linear;
    transition: 0.4s linear;
    background-color: #F1C40F;
    border-radius: 5px;
}

.btn-company:hover{
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.btn-drop{
    margin: 0;
    padding: 0;
}

/*Botones invisibles*/
#contenedor{
    height: 60px;
    width: 87px;
}
  
#boton{
    display: none;
}
  
#contenedor:hover > #boton{
    display: block;
    display: flex;
}
/*FIN Botones invisibles*/