<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage() {
        localStorage.removeItem("message");
    }
</script>

<body class="row">
    <% if(typeof(status) !="undefined" ) { %>
        <% if(status==200 ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }  
            </script>
            <% }else if(status!=200 ){ %>
                <script>
                    if (!localStorage.getItem("message")) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: '<%-message%>',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        localStorage.setItem("message", 1);
                    }  
                </script>
                <% } %>
                    <% } %>
                        <div class="col-1"></div>
                        <div class="col-10 card mt-3"
                            style="scrollbar-width: none !important; margin-right: 2%; background-color: #e6e6e6;">
                            <!-- Menu desplegable con animacion -->
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Mostrar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/" type="button" class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="row table-container">
                                    <form action="/companies/saveCompany" method="post" class="row"
                                        style="display: flex;">
                                        <div class="col-12">
                                            <h2 class="h2" style="margin-bottom: 1%;">Módulo Compañías: Agregar
                                            </h2>
                                        </div>
                                        <div style="margin-left: 1%; margin-right: 3%;" class="col-8">
                                            <p type="No. Documento">
                                                <input type="text" name="numero_documento" class="input"
                                                    placeholder="Ingrese el numero de documento" required />
                                            </p>
                                            <p type="Nombre:">
                                                <input type="text" name="nombre" class="input"
                                                    placeholder="Ingrese el nombre" required />
                                            </p>
                                            <p type="Tipo de compañía:">
                                                <input type="text" name="tipo" list="typecompany" class="input"
                                                    placeholder="Ingrese el tipo de compañia">
                                                <datalist id="typecompany" class="input">
                                                    <option value="Industrial" class="input">
                                                    <option value="Comercial" class="input">
                                                    <option value="Hotelera" class="input">
                                                    <option value="Agricola" class="input">
                                                    <option value="Ganadera" class="input">
                                                </datalist>
                                            </p>
                                            <p type="Aprobado por:">
                                                <input type="text" name="aprobado_por" class="input"
                                                    placeholder="Ingrese el nombre del aprobador" required />
                                            </p>
                                            <p type="Fecha de inicio:">
                                                <input type="date" id="start" name="fecha_inicio" value="yyyy-mm-dd"
                                                    class="input" required />
                                            </p>
                                            <p type="Descripción">
                                                <input type="text" name="descripcion" class="input"
                                                    placeholder="Ingrese una descripción" required />
                                            </p>
                                            <div class="btnContainer mb-4">
                                                <input type="submit" onclick="removeMessage()" name="CompanyController"
                                                    class="btn btn-success" value="Guardar">
                                                <button type="button" class="btn btn-danger">
                                                    <a href="/companies/showCompany" type="button">Cancelar</a>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        </div>
</body>
<footer class="bg-light text-center text-lg-start body mt-4 footer">
    <!-- Copyright -->
    <div class="text-center p-4">
        © 2022 Copyright: Porras & Vásquez
    </div>
    <!-- Copyright -->
</footer>

</html>