<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%>
</header>
<script>
    function removeMessage(){
        localStorage.removeItem("message");
    }
</script>
<body style="background-color: #f4ffec; height: 100vh !important;">
    <% if(typeof(status) != "undefined" ) { %>
        <% if(status==200 ) { %>
            <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }  
            </script>
            <% }else if(status!=200 ){ %>
                <script>
                if (!localStorage.getItem("message")) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: '<%-message%>',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    localStorage.setItem("message", 1);
                }  
                </script>
                <% } %>
                    <% } %>
                        <div class="card mt-2"
                            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
                            <div id="menu-container" class="menu-container">
                                <div id="menu" class="menu">
                                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                                </div>
                                <div class="flex-menu">
                                    <ul class="list-unstyled chat-list  mb-0">
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/companies/showCompany" type="button"
                                                class="btn btn primary ">Mostrar
                                                compañía</a>
                                        </ul>
                                        <ul class="list-group list-group-flush button flex-color">
                                            <a href="/" type="button" class="btn btn primary ">Atrás</a>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="row text-dark table-responsive table-container"
                                    style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                                    <form action="/companies/saveCompany" method="post" class="newUser"
                                        style="margin-left: 5%;">
                                        <h2 style="margin-bottom: 1%;">Módulo Compañías: Agregar</h2>
                                        <div class="col-6">
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">No.
                                                    Documento</label>
                                                <input type="text" name="numero_documento" class="form-control"
                                                    placeholder="Ingrese el numero de documento" required />
                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                                <input type="text" name="nombre" class="form-control"
                                                    placeholder="Ingrese el nombre" required />
                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">Tipo de
                                                    compañía</label>
                                                <input type="text" name="tipo" list="typecompany" class="form-control"
                                                    placeholder="Ingrese el tipo de compañia">
                                                <datalist id="typecompany">
                                                    <option value="Industrial" class="form-control">
                                                    <option value="Comercial" class="form-control">
                                                    <option value="Hotelera" class="form-control">
                                                    <option value="Agricola" class="form-control">
                                                    <option value="Ganadera" class="form-control">
                                                </datalist>
                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">Aprobado
                                                    por:</label>
                                                <input type="text" name="aprobado_por" class="form-control"
                                                    placeholder="Ingrese el nombre del aprobador" required />
                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">Fecha
                                                    de inicio:</label>
                                                <input type="date" id="start" name="fecha_inicio" value="yyyy-mm-dd"
                                                    class="form-control" required />
                                            </div>
                                            <div class="mb-2">
                                                <label for="exampleInputEmail1" class="form-label">Descripción:</label>
                                                <input type="text" name="descripcion" class="form-control"
                                                    placeholder="Ingrese una descripción" required />
                                            </div>
                                            <div class="btnContainer mb-4">

                                                <input type="submit" onclick="removeMessage()" name="CompanyController" class="btn btn-success"
                                                    value="Guardar">
                                                <button type="button" class="btn btn-danger">
                                                    <a href="/companies/showCompany" type="button">Cancelar</a>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        </div>
</body>

</html>