<!DOCTYPE html>
<html>
    <header>
        <!--ZONA DEL NAVBAR-->
        <%- include('../navbar'); -%> 
    </header>
    <body style="background-color: #f4ffec; height: 100vh !important;">
        <% if(typeof(status) !="undefined" ) { %>
            <% if(status==200) { %>
                <script>
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Exito al agregar reporte electricidad',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(({ value }) => {
                    });
                </script>
            <% }else if(status==404){ %>
                    <script>
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Error al agregar reporte electricidad',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(({ value }) => {
                        });
                    </script>
            <% } %>
        <% } %>
        <div class="card mt-2 mb-2x"
            style="min-height: 86.5% !important; scrollbar-width: none !important; margin-left: 2%; margin-right: 2%; background-color: #c5dfbe;">
            <div id="menu-container" class="menu-container">
                <div id="menu" class="menu">
                    <i id="expand" class="material-icons" style="font-size: 35px">menu_open</i>
                </div>
                <div class="flex-menu">
                    <ul class="list-unstyled chat-list  mb-0">
                        <ul class="list-group list-group-flush button">
                            <a href="/electricities/electricities/<%=company._id%>" type="button" class="btn btn primary ">Vista de reportes</a>
                        </ul>
                        <ul class="list-group list-group-flush button">
                            <a href="/companies/showCompany" type="button" class="btn btn primary ">Atras</a>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="row text-dark table-responsive table-container"
                style="margin-left: 0.5%; margin-bottom: 0.5%; scrollbar-width: none !important;">
                <h1 class="title">Datos electricidad</h1>
                <form action="/electricities/saveElectricity/<%=company._id%>" method="post" class="newElectricity" style="margin-left: 5%;">
                    <div class="col-6">
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Titulo</label>
                            <input type="text" name="titulo" class="form-control" required />
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Fuente Reporte</label>
                            <input type="text" name="fuente_reporte" class="form-control" required />
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Unidad de medida</label>
                            <input type="text" name="unidad_medida" class="form-control" required />
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Ultima actualización</label>
                            <input type="date" id="start" name="ultima_update" value="yyyy-mm-dd" class="form-control" required/>
                        </div>
                        <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Factor de emisión</label>
                            <input type="text" name="factor_emision" class="form-control" required />
                        </div>
                        <div class="btnContainer mb-4">
                            <input type="submit"  name="CompanyController" class="btn btn-success" value="Guardar">
                            <button type="button" class="btn btn-danger">
                                <a href="/electricities/electricities/<%=company._id%>" type="button">Cancelar</a>
                            </button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>   
    </body>
</html>