<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%> 
</header>
<body style="background-color: #f4ffec;">
    <div class="container mt-5">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #beb39c;">
                    <div class="people-list ">
                        <div class="col-12 row mt-5">
                            <img style="margin-left: 4%;" src="/images/logov2.png" class="img">
                        </div>
                        <ul class="list-unstyled chat-list  mb-0">
        
                            <ul class="list-group list-group-flush button">
                                <a href="/electricities/showElectricity" type="button" class="btn btn primary ">Vista de reportes electricidad</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/electricities/showElectricity" type="button" class="btn btn primary ">Agregar medidores</a>
                            </ul>
                        </ul>
                    </div>
                    <% if(typeof(message) !="undefined" ) { %>
                        <% if(message=="success" ) { %>
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Exito al agregar reporte electricidad',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(({ value }) => {
                                });
                            </script>
                            <% }else if(message=="error" ){ %>
                                <script>
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'error',
                                        title: 'Error al agregar reporte electricidad',
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then(({ value }) => {
                                    });
                                </script>
                                <% } %>
                                    <% } %>
    <div class="chat">
        <div style="background-color: #beb39c; margin-top: 4%; margin-bottom: 4%;"></div>
        <h1 class="title">Datos electricidad</h1>
        <form action="/electricities/saveElectricity/<%=company._id%>" method="post" class="newElectricity">
            <div class="col-6">
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Titulo</label>
                    <input type="text" name="titulo" class="form-control" required />
                </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Fuente Reporte</label>
                    <input type="text" name="fuente_reporte" class="form-control" required />
                </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Unidad de medida</label>
                    <input type="text" name="unidad_medida" class="form-control" required />
                </div>

                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Ultima actualización</label>
                    <input type="text" name="ultima_update" class="form-control" required />
                </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Observacion</label>
                    <input type="text" name="observacion" class="form-control" required />
                </div>
                <div class="btnContainer mb-4">
                    
                    <input type="submit"  name="CompanyController" class="btn btn-success" value="Guardar">
                    <button type="button" class="btn btn-danger">
                        Cancelar
                    </button>
                </div>

            </div>

        </form>
    </div>
  
</body>

</html>