<!DOCTYPE html>
<html>
<header>
    <!--ZONA DEL NAVBAR-->
    <%- include('../navbar'); -%> 
</header>

<body style="background-color: #f4ffec;">
    <div class="container mt-5">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app" style="background-color: #beb39c;">
                    <div class="people-list ">
                        <div class="col-12 row mt-5">
                            <img style="margin-left: 4%;" src="/images/logov2.png" class="img">
                        </div>
                        <ul class="list-unstyled chat-list  mb-0">
                            <ul class="list-group list-group-flush button">
                                <a href="/users/search" type="button" class="btn btn primary ">Editar perfil</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/users/create" type="button" class="btn btn primary ">Agregar usuario</a>
                            </ul>
                            <ul class="list-group list-group-flush button">
                                <a href="/users/show" type="button" class="btn btn primary ">Vista de usuarios</a>
                            </ul>
                            <div class="col-12 mb-5"></div>
                        </ul>
                    </div>
                    <% if(typeof(message) != "undefined") { %>
                        <% if(message == "success") { %>
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Exito al agregar',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(({value}) => {
                                    //window.location='/users/create/';
                                });
                            </script>
                        <% }else if(message == "error"){ %>
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'Lo sentimos, ocurrió un problema con el servidor',
                                    showConfirmButton: false,
                                    timer: 3500
                                }).then(({value}) => {
                                    //window.location='/users/create/';
                                });
                            </script>
                        <% } else if(message == "username"){%>  
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'Error, el nombre de usuario ingresado ya fue utilizado',
                                    showConfirmButton: false,
                                    timer: 3500
                                }).then(({value}) => {
                                    //window.location='/users/create/';
                                });
                            </script>
                        <% } else if(message == "email"){%> 
                            <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'Error, el correo electrónico ingresado ya fue utilizado',
                                    showConfirmButton: false,
                                    timer: 3500
                                }).then(({value}) => {
                                    //window.location='/users/create/';
                                });
                            </script>
                        <%} %>    
                    <% } %>
                    <div class="chat">
                        <div style="background-color: #beb39c; margin-top: 4%; margin-bottom: 4%;">
                            <div class="container" >
                                <p></p>
                                <h1 class="title">Información Personal</h1>
                                <form action="/users/save" method="post"  class="newUser">
                                    <div class="col-6">
                    
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
                                            <input onchange="enable()" id="username" type="text" name="username" class="form-control"
                                                 minlength="4" maxlength="16" placeholder="Ingrese el nombre de usuario" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="inputPassword" class="form-label">Contraseña</label>
                                            <input onchange="enable()" id="password" type="password" name="password" class="form-control"
                                                 minlength="4" maxlength="16" placeholder="Ingrese una contraseña valida" required />
                                        </div>
                                        <div class="mb-2">
                                            <label for="exampleInputEmail1" class="form-label">Email</label>
                                            <input onchange="enable()" id="email" type="text" name="email" class="form-control"
                                                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="Ingrese un correo valido" required />
                                        </div>
                                        <div class="btnContainer mb-4" style="padding-bottom: 3%;">
                    
                                            <button disabled id="submit" type="submit" name="UserController" class="btn btn-success">
                                                Guardar
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                <a href="/users/show" type="button" >Cancelar</a>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*$('#username').change(function(){
            document.getElementById('submit').disabled=false;
        });*/
        let username = document.querySelector("#username");
        let password = document.querySelector("#password");
        let email = document.querySelector("#email");

        function enable(){
            if(document.getElementById('username').value=="" && document.getElementById('password').value=="" &&
            document.getElementById('email').value==""){
                document.getElementById('submit').disabled=true;
            }else{
                document.getElementById('submit').disabled=false;
            }
        }
    </script>
</body>

</html>
